# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr
*.local
.output
.vercel
.netlify
.wrangler
.svelte-kit/
build/

# Editor directories and files
.vs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Development
.env
.env.*
!.env.example
!.env.test
target/
TODO.md
.npm/
.yarn/
.pnpm/
package-lock.json
pnpm-lock.yaml
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
